* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.item {
    border: 4px solid red;
    border-radius: 4px;
    padding: 8px;
}

.container {
    height: 100vh;
    display: grid;
    gap: 16px;
    grid-template-rows: auto auto 1fr 0.5fr auto auto ;
}

@media screen and (min-width: 600px) {
    
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto 1fr 1fr auto ;
        max-width: 600px;
        margin: auto;
    }
    
    .header {
        grid-column: 1 / span 3;
    }

    .navigation {
        grid-column: 1 / span 3;
    }

    .sidebar {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }

    .main {
        grid-column: 2 / 4;
        grid-row: 3 / span 2;
    }

    .ads {
        grid-column: 1 / 3;
    }

}

@media screen and (min-width: 1024px) {
    
    .container {
        grid-template-columns: repeat(12, 1fr);
        max-width: 1024px;
        margin: auto;
    }

    .header {
        grid-column: 1 / span 12;
    }

    .navigation {
        grid-column: 1 / span 12;
    }

    .sidebar {
        grid-column: 1 / span 3;
        grid-row: 3 / 5;
    }

    .main {
        grid-column: 4 / span 6;
    }

    .ads {
        grid-column: 10 / 13 ;
        grid-row: 3 / 5;
    }

    .footer {
        grid-column: 1 / span 12;
    }

}